.elk_container {
    padding: 20px;
}
.elk_container button, .elk_container input {
    padding: 4px 8px;
}
.elk_pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.elk_pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 2px;
}
.elk_pagination ul li {
    display: flex;
    border: 1px solid #ccc;
    cursor: pointer;
}
.elk_pagination ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 27px;
    padding: 2px;
}
.elk_pagination ul li:hover, .elk_pagination ul li.selected {
    background: black;
    color: white;
    border-color: black;
}

.elk_journal {
    max-width: 100%;
    max-height: 600px;
    overflow: auto;
}
.elk_journal table {
    border-collapse: collapse;
}
.elk_journal table th, .elk_journal table td {
    padding: 4px 8px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    border: 1px solid;
}

.elk_filter {
    padding: 20px;
    border: 1px solid;
}
.elk_filter h3 {
    margin-top: 0;
}
.elk_filter_elements {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    flex-wrap: wrap;
}
.elk_filter_elements.add {
    background-color: #e6e6e6;
    border-radius: 4px;
    padding: 20px;
    margin: 20px 0;
}
.elk_filter select, .elk_filter_element select, .elk_filter_element input {
    padding: 4px;
}
.elk_filter_element {
    display: inline-flex;
    flex-direction: column;
}
.elk_filter_element.tag {
    background-color: beige;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 2px 4px;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.elk_filter_element.tag .delete {
    color: coral;
    cursor: pointer;
    user-select: none;
}
